<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.vakna">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:name=".VaknaApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vakna"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Vakna">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AjouterActivity"
            android:screenOrientation="portrait"
            android:label="Ajouter Tâche" />
        <activity android:name=".GererActivity"
            android:screenOrientation="portrait"
            android:label="Gérer Tâches" />
        <activity android:name=".ModifierActivity"
            android:screenOrientation="portrait"
            android:label="Modifier Tâche" />
        <activity android:name=".CreerCompagnonActivity"
            android:screenOrientation="portrait"
            android:label="Créer le compagnon" />
        <activity android:name=".DetailsObjetActivity"
            android:screenOrientation="portrait"
            android:label="Détails Objets" />
        <activity android:name=".DetailsCompagnonActivity"
            android:screenOrientation="portrait"
            android:label="Détails compagnon" />
        <activity android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            android:label="Settings" />
        <activity android:name=".DetailsRefugeActivity"
            android:screenOrientation="portrait"
            android:label="Settings" />
        <service
            android:name=".notifications.NotificationService"
            android:enabled="true"
            android:exported="false"/>
        <receiver android:name=".notifications.NotificationReceiver" />
    </application>

</manifest>